@font-face {
  font-family: "PoppinsSB";
  src: url("Fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsB";
  src: url("Fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsRG";
  src: url("Fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsM";
  src: url("Fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PoppinsL";
  src: url("Fonts/Poppins-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PoppinsSB", sans-serif;
  margin: 0;
}



/* -----------------------------DARKMODE----------------------------- */

body.darkmode header, body.darkmode footer, body.darkmode .pricing, body.darkmode .card, body.darkmode .howto, body.darkmode .hero{
  background: #161d25; /* Uso background ya que es lo que uso en el hero para hacer el grading del modo normal*/
  color: white;
}


body.darkmode .features, body.darkmode .step, body.darkmode .testimonios, body.darkmode .price-card{
  background-color: #1E2732;
  color: white;
}

body.darkmode .card p{
  color: white;
}


body.darkmode .fcta2{
  background-color: #1E2732;
}

.sunicon {
    display: none;
}

body.darkmode .moonicon{
  display: none;
}

body.darkmode .sunicon{
  display: block;
}




/* -----------------------------HEADER -----------------------------*/

header {
  display: flex;
  justify-content: right;
  box-shadow: 0px 0px 3px gray;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-content: center;
  width: 100%;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 100;
  
}

.headerizq {
  display: flex;
  width: 30%;
  justify-content: left;
  font-size: 15px;
}

.headerizq p {
  font-size: 30px;
  font-family: "PoppinsB", sans-serif;
}
.tax {
  padding-left: 2rem;
}
.ease {
  color: #6a52f0;
}

.headerder {
  display: flex;
  width: 70%;
  justify-content: right;
  align-items: center;
  font-size: 15px;
  flex-wrap: wrap;
}

.iconmode{
  margin-right: 1rem;
  cursor: pointer;
  height: 40px;
}

.headerizq p {
  margin: 0;
}

.headerder p {
  padding-right: 2rem;
  margin: 0;
}

.but1 {
  background-color: white;
  color: #000;
  border: 1px solid #c9c9c9;
  border-radius: 9px;
  font-size: 15px;
  cursor: pointer;
  font-family: "PoppinsSB", sans-serif;
  height: 2.5rem;
  margin-right: 2rem;
  padding: 0px 0.5rem;
}

.but2 {
  background-color: #6a52f0;
  color: white;
  border: 0px;
  border-radius: 9px;
  font-size: 15px;
  cursor: pointer;
  font-family: "PoppinsSB", sans-serif;
  height: 2.5rem;
  margin-right: 1.5rem;
  padding: 0px 0.5rem;
}

.but1:hover {
  background-color: black;
  color: #fff;
}

/* -----------------------------HERO----------------------------- */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: linear-gradient(
  to bottom,
  rgba(238, 242, 255, 0.5),
  rgba(255, 255, 255, 0.5),
  rgba(239, 246, 255, 0.5)
);

}

.h1 {
  font-family: "PoppinsB", sans-serif;
  font-size: 64px;
  width: 50%;
   min-width: 60rem;
  line-height: 1.1;
  text-align: center;
}

.real{
  color:#6a52f0;
}

.h1 p {
  margin-bottom: 1rem;
}

.h2 {
  font-family: "PoppinsRG", sans-serif;
  font-size: 20px;
  color: #6e6e7e; 
  
  text-align: center;
   
  margin-top: 0.7rem;
}

.h2.big{
  width: 40%;
  min-width: 40rem;
}



.cta {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 40rem;
  
}

.input {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
  }

.email {
  font-family: "PoppinsRG", sans-serif;
  background-color: #f3f3f5;
  border-radius: 9px;
  height: 2.4rem;
  border: 0px;
  width: 40%;
  margin-right: 1rem;
  color: #6e6e7e;
  padding-left: 1rem;
  
}

.but2.b2 {
  width: 22%;
  min-width: 10rem;
  
}

.cta p{
  text-align: center;
  font-family: "PoppinsRG", sans-serif;
  color: #6E6E7E;
  font-size: 14px;
  opacity: 0.7;
}

.stats{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 40%;
  margin-bottom: 4rem;
}

.stat{
  text-align: center;
}

.stat .text{
  font-family: "PoppinsSB", sans-serif;
  font-size: 32px;
  margin-bottom: 0;
   line-height: 0.95;
}

.stat .descr{
  font-family: "PoppinsRG", sans-serif;
  color:#6e6e7e;
  font-size: 12px;
  margin-top: 0;
}

/* -----------------------------FEATURES----------------------------- */

.features{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

.fh1{
  display: flex;
  flex-direction: column;
  align-items: center;
   font-family: "PoppinsB", sans-serif;
  font-size: 40px;
  width: 70%;
   min-width: 65rem;
  line-height: 1.1;
  text-align: center;  
  margin-top: 2rem;
}

.fh1 p{
  margin-bottom: 0.5rem;
}

.paneles{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin-top: 6rem;
   min-width: 65rem;
   justify-items: center;
  margin-bottom: 7rem;
  
  }

.panel{
  border: 2px solid #c9c9c9;
  border-radius: 9px;
  width: 80%;
  
}
.icono{
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: #E5E5E7;
  padding: 0.3rem 0.4rem;
  border-radius: 13px;
  line-height: 0;
  width: fit-content;
}

.banco{
  width: 33px;
  height: 33px;
  padding: 0.22rem;
}
svg{
  width: 40px;
  height: 40px;
}

.gridtext{
  margin-left: 1.2rem;
  font-size: 19px;
}

.gtitulo{
  font-family: "PoppinsM", sans-serif;
  margin-bottom: 0.3rem;
  
}

.gdescr{
  font-family: "PoppinsL", sans-serif;
  color: #6E6E7E;
  margin-top: 0;
}

.tick{
  width: 30px;
  height: 30px;
}

.griditemlist{
  display: flex; 
  margin-left: 1.2rem;
  

}

.griditemtext{
  font-family: "PoppinsL", sans-serif;
  font-size: 17px;
  margin-top: 0.05rem;
  margin-left: 0.5rem;
}

.gridlist{
  margin-bottom: 0.6rem;
}

/* -----------------------------HOW TO----------------------------- */

.howto{
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
background-color: #F5F5F7;
}

.steps{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 75%;  
  justify-items: center;
  margin-top: 3rem;  
  margin-bottom: 7rem;
  position: relative;
  z-index: 2;  
}

.step{
  display: flex;
  flex-direction: column;  
  text-align: center;
  border: 2px solid #c9c9c9;
  border-radius: 9px;
  width: 80%;
  align-items: center;
  position: relative;
  z-index: 2;
  background-color: white;
  
  
  
  

}

.gtitulo.paso{
  font-size: 19px;
}
.gdescr.paso{
width: 80%;
font-size: 17px;

}

.circulo{
  font-family: "PoppinsB", sans-serif;
  width:4.5rem;
  height:4.5rem;
  background:#6c4cff;
  color:white;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size: 25px;
  margin-top:2rem;
  margin-bottom: 0;
  
}

.texto{
  margin-bottom: 5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.steps::before{
  content: "";
  position: absolute;
  height: 2px;
  background: black;
  width: 80%;
  z-index: 1;
  top: 5.5rem;

}

/* -----------------------------TESTIMONIALS----------------------------- */

.testimonios{
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.testimonios h2{
  margin-top: 0;
}
h2{
text-align:center;
font-size:32px;
margin-bottom:10px;
font-family: "PoppinsB", sans-serif;
font-size: 40px;

}

.subtitle{
text-align:center;
font-family: "PoppinsRG", sans-serif;
  font-size: 20px;
  color: #6e6e7e; 
margin-bottom:40px;
margin-top: 0;
}

.cardmsg{
  font-family: "PoppinsL", sans-serif;
  
}



.cardnombre{
  margin: 0;
  font-family: "PoppinsM", sans-serif;
  
}

.cardtrabajo{
  font-family: "PoppinsL", sans-serif;
  color:#6e6e7e;
  
}


.cards{
display:flex;
gap:3rem;
justify-content:center;
flex-wrap:wrap;

}

.card{
background:white;
padding:25px;

width:320px;
border: 2px solid #c9c9c9;
  border-radius: 9px;
}

.stars{
color:#f5b301;
margin-bottom:0.5rem;
font-size: 25px;

}

.card p{
font-size:15px;
color:#444;
margin-top: 0;

}

.user{
display:flex;
align-items:center;
gap:10px;
}

.user img{
border-radius:50%;
}

.user span{
font-size:12px;
color:#777;
display:block;
}


/* -----------------------------PRICING----------------------------- */

.pricing{
background:#efefef;
}

.pricetitle{
  padding-top: 3rem;
}

.pricing-cards{
display:flex;
justify-content:center;
gap:60px;
flex-wrap:wrap;
margin-top: 4rem;
padding-bottom: 7rem;

}

.price-card{
background:white;
padding:15px;
border: 2px solid #c9c9c9;
  border-radius: 9px;
width:23rem;

text-align:left;
}

.price-card.featured{
border:2px solid black;
}

.h3{
font-family: "PoppinsM", sans-serif;
margin-bottom: 0;
font-size: 19px;
}


.small{
  font-family: "PoppinsL", sans-serif;
font-size:18px;
color:#6E6E7E;
margin-bottom:20px;
margin-top: 0.5rem;
}

.price{
font-size:32px;
font-family: "PoppinsSB", sans-serif;
margin-bottom:15px;
margin-left: 0.5rem;
}

.mes{
  font-family: "PoppinsL", sans-serif;
}

.price span{
font-size:14px;
color:#777;
}



.btn{
width:100%;
padding:10px;
border-radius:6px;
border:none;
cursor:pointer;
margin-bottom:20px;
background-color: white;
border: 1px solid #c9c9c9;
  border-radius: 9px;
  font-family: "PoppinsM", sans-serif;
  font-size: 16px;

}


.pricetitlesub{
  margin-left: 0.5rem;
}
.lista{
  margin-top: 1rem;
}

.btn.dark{
background:black;
color:white;
}

.btn.dark:hover{
  background-color: #6c4cff;  
}

/* -----------------------------CTA----------------------------- */

.fcta2{
  background-color: white;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.cta2{  
  background:linear-gradient(90deg,#2f65d9,#5c49d8);
  border-radius:16px;
  text-align:center;
  justify-items: center;  
  width: 97%;
  justify-self: center;
}

.ctah1{
  font-family: "PoppinsSB", sans-serif;
  color:white;
  font-size: 40px; 
  margin-bottom: 0; 
}

.ctah2{
  font-family: "PoppinsL", sans-serif;
  color:white;
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.but2.b2.b3{
  color: black;
  background-color: white;
  font-family: "PoppinsSB", sans-serif;
}
.ctatitle{
  padding-top: 1rem;
}

.email.e2{
  width: 50%;
}

.cta30days{
  font-family: "PoppinsRG", sans-serif;
  color: white;
  font-size: 14px;  
}

.cta30days-container{
  margin-top: 1rem;
  margin-bottom: 2rem;
}

/* -----------------------------FOOTER----------------------------- */

.footer{
background:#f7f7f7;
padding:60px 20px;
}

.footer-container{

max-width: 75%;
display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:40px;
}

.footer-brand{
max-width:250px;
margin-left: 1rem;
}

.footer-brand h2{
font-size:30px;
justify-self: left;
margin-top: 0;

}

.footer-brand span{
color:#5a4bd8;
}

.footer-brand p{
color:#6E6E7E;
margin-top:10px;
font-size:15px;
font-family: "PoppinsL", sans-serif;
}

.footer-links{
display:flex;
flex-direction:column;
gap:8px;
}

.footer-links p{
margin-bottom:10px;
font-family: "PoppinsM", sans-serif;
}

.footer-links a{
  font-family: "PoppinsL", sans-serif;
text-decoration:none;
color:#6E6E7E;
font-size:15px;
}

.footer-links a:hover{
color:black;
}

/* -----------------------------RESPONSIVE----------------------------- */

@media (max-width: 700px){

/* HEADER */

header{
flex-direction:column;
align-items:center;
position: relative;
}




.headerizq p{
  padding: 0;
}
.headerizq,
.headerder{
width:100%;
justify-content:center;
}

.headerder{
margin-top:0.5rem;
margin-left: 1.7rem;
}



.but2.b1{
  margin-top: 0.5rem;
}

.but1{
  margin-top: 0.5rem;
}


/* HERO */

.h1{
font-size:36px;
width:90%;
min-width:unset;
}

.h2.big{
width:90%;
min-width:unset;
font-size:18px;
}

.cta{
width:90%;
min-width:unset;
}


.email{
width:60%;
margin-right:0;
margin-bottom:0.5rem;
}

.but2.b2{
width:64%;
justify-self: center;
margin: 0;
}

.stats{
grid-template-rows:1fr;
width:80%;
gap:1rem;
}


/* FEATURES */

.fh1{
font-size:30px;
width:90%;
min-width:unset;
}

.paneles{
grid-template-columns:1fr;
width:90%;
min-width:unset;
gap:2rem;
margin-top:3rem;
}

.panel{
width:100%;
}


/* HOW TO */

.steps{
grid-template-columns:1fr;
width:90%;
gap:2rem;
position: relative;
  z-index: 2; 
}



.step{
width:100%;
position: relative;
  z-index: 2; 
}

.steps::before{
  content: "";
  position: absolute;
  height: 2px;
  background: black;
  width: 150%;
  z-index: 1;
  top: 33rem;
  transform: rotate(90deg);

}


/* TESTIMONIALS */



.testimonios h2{
  font-size:30px;
  width: 90%;
  justify-self: center;
}

.subtitle{
width:80%;
justify-self: center;
}
.cards{
flex-direction:column;
align-items:center;
gap:2rem;
}

.card{
width:70%;
}


/* PRICING */

.pricetitle{
  width: 90%;
  justify-self: center;

}

.pricetitle h2{
  font-size:30px;
  justify-self: center;
}

.pricetitle .subtitle{
  margin-bottom: 0;
}



.pricing-cards{
flex-direction:column;
align-items:center;
gap:2rem;
}

.price-card{
width:80%;
}


/* CTA */

.ctah1{
font-size:28px;
padding:0 1rem;
}

.ctah2{
font-size:16px;
padding:0 1rem;
width: 80%;
justify-self: center;
}

.email.e2{
width:60%;
}

.but2.b2.b3{
width:64%;
}


/* FOOTER */

.footer-container{
flex-direction:row;
max-width:90%;
gap:2rem;
}

.footer-brand{
margin-left:0;
}

}